@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}


.registrer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px solid, color #412323;
    margin-right: 150px;
    margin-left: 150px;
}

input {
    padding: 0.40rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s ease;
}

#legg-til-knapp {
    background: #2575fc;
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

#legg-til-knapp:hover {
    background: #6a11cb;
}